fastapi
uvicorn[standard]
sqlalchemy
PyJWT
python-jose[cryptography]
passlib[bcrypt]
bcrypt
psycopg[binary]
psycopg2-binary
asyncpg
motor
pymongo
dnspython
pydantic
pydantic-settings
python-dotenv
python-multipart
requests
httpx
